.card{
    width: 350px;
    height: 550px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.c2{
    border-radius: 10px;
}
.container {
  display: flex;
  justify-content: center; 
  align-items: center;     
  min-height: 100vh;       
}
body{
    background-color:blue;
}
button{
    background-color: orange;
    border-radius: 12px;
    
}